faiss-cpu
google-generativeai
python-dotenv
tqdm
phonemizer
numpy
python-Levenshtein
panphon
lingua-language-detector
transformers
torch
pillow
requests
epitran
scikit-learn
rapidfuzz
sentence-transformers
